# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
_libgcc_mutex=0.1=main
_openmp_mutex=5.1=1_gnu
about-time=4.2.1=pypi_0
absl-py=2.1.0=pypi_0
alive-progress=3.2.0=pypi_0
argon2-cffi=23.1.0=pypi_0
argon2-cffi-bindings=21.2.0=pypi_0
attrs=25.1.0=pypi_0
autograd=1.7.0=pypi_0
autograd-gamma=0.5.0=pypi_0
babel=2.16.0=pypi_0
black=24.10.0=pypi_0
bzip2=1.0.8=h5eee18b_6
ca-certificates=2024.12.31=h06a4308_0
certifi=2024.12.14=pypi_0
cffi=1.17.1=pypi_0
cfgv=3.4.0=pypi_0
charset-normalizer=3.4.1=pypi_0
click=8.1.8=pypi_0
cloudpickle=3.1.1=pypi_0
cma=3.2.2=pypi_0
colorama=0.4.6=pypi_0
colour=0.1.5=pypi_0
contourpy=1.3.1=pypi_0
cycler=0.12.1=pypi_0
dcurves=1.1.1=pypi_0
deprecated=1.2.18=pypi_0
dill=0.3.9=pypi_0
distlib=0.3.9=pypi_0
einops=0.8.0=pypi_0
eli5=0.13.0=pypi_0
et-xmlfile=2.0.0=pypi_0
expat=2.6.4=h6a678d5_0
filelock=3.17.0=pypi_0
fonttools=4.55.8=pypi_0
formulaic=1.1.1=pypi_0
fsspec=2024.12.0=pypi_0
future=1.0.0=pypi_0
ghp-import=2.1.0=pypi_0
gower=0.1.2=pypi_0
gpytorch=1.14=pypi_0
grapheme=0.6.0=pypi_0
griffe=1.5.5=pypi_0
grpcio=1.70.0=pypi_0
huggingface-hub=0.27.1=pypi_0
hyperopt=0.2.7=pypi_0
identify=2.6.6=pypi_0
idna=3.10=pypi_0
imbalanced-learn=0.13.0=pypi_0
importlib-metadata=8.6.1=pypi_0
importlib-resources=6.5.2=pypi_0
iniconfig=2.0.0=pypi_0
interface-meta=1.3.0=pypi_0
jaxtyping=0.2.38=pypi_0
jinja2=3.1.5=pypi_0
joblib=1.4.2=pypi_0
kiwisolver=1.4.8=pypi_0
ld_impl_linux-64=2.40=h12ee557_0
liac-arff=2.5.0=pypi_0
libffi=3.4.4=h6a678d5_1
libgcc-ng=11.2.0=h1234567_1
libgomp=11.2.0=h1234567_1
libstdcxx-ng=11.2.0=h1234567_1
libuuid=1.41.5=h5eee18b_0
lifelines=0.27.8=pypi_0
linear-operator=0.6=pypi_0
llvmlite=0.44.0=pypi_0
mapie=0.9.2=pypi_0
markdown=3.5.2=pypi_0
markdown-exec=1.10.0=pypi_0
markupsafe=3.0.2=pypi_0
matplotlib=3.10.1=pypi_0
mergedeep=1.3.4=pypi_0
mike=2.1.3=pypi_0
minio=7.2.15=pypi_0
mkdocs=1.6.1=pypi_0
mkdocs-autorefs=1.3.0=pypi_0
mkdocs-gen-files=0.5.0=pypi_0
mkdocs-get-deps=0.2.0=pypi_0
mkdocs-glightbox=0.4.0=pypi_0
mkdocs-literate-nav=0.6.1=pypi_0
mkdocs-material=9.5.50=pypi_0
mkdocs-material-extensions=1.3.1=pypi_0
mkdocstrings=0.20.0=pypi_0
mkdocstrings-python=1.9.1=pypi_0
mpmath=1.3.0=pypi_0
mypy=1.14.1=pypi_0
mypy-extensions=1.0.0=pypi_0
ncurses=6.4=h6a678d5_0
netcal=1.3.6=pypi_0
networkx=3.4.2=pypi_0
nodeenv=1.9.1=pypi_0
numba=0.61.0=pypi_0
numpy=1.26.4=pypi_0
nvidia-cublas-cu12=12.4.5.8=pypi_0
nvidia-cuda-cupti-cu12=12.4.127=pypi_0
nvidia-cuda-nvrtc-cu12=12.4.127=pypi_0
nvidia-cuda-runtime-cu12=12.4.127=pypi_0
nvidia-cudnn-cu12=9.1.0.70=pypi_0
nvidia-cufft-cu12=11.2.1.3=pypi_0
nvidia-curand-cu12=10.3.5.147=pypi_0
nvidia-cusolver-cu12=11.6.1.9=pypi_0
nvidia-cusparse-cu12=12.3.1.170=pypi_0
nvidia-cusparselt-cu12=0.6.2=pypi_0
nvidia-nccl-cu12=2.21.5=pypi_0
nvidia-nvjitlink-cu12=12.4.127=pypi_0
nvidia-nvtx-cu12=12.4.127=pypi_0
openml=0.15.1=pypi_0
openpyxl=3.1.5=pypi_0
openssl=3.0.15=h5eee18b_0
opt-einsum=3.4.0=pypi_0
packaging=24.2=pypi_0
paginate=0.5.7=pypi_0
pandas=2.2.3=pypi_0
pathspec=0.12.1=pypi_0
patsy=1.0.1=pypi_0
pillow=11.1.0=pypi_0
pip=24.2=py312h06a4308_0
platformdirs=4.3.6=pypi_0
pluggy=1.5.0=pypi_0
pre-commit=4.1.0=pypi_0
protobuf=5.29.3=pypi_0
py4j=0.10.9.9=pypi_0
pyarrow=19.0.1=pypi_0
pycparser=2.22=pypi_0
pycryptodome=3.21.0=pypi_0
pygments=2.19.1=pypi_0
pygments-ansi-color=0.3.0=pypi_0
pymdown-extensions=10.7.1=pypi_0
pymoo=0.6.0.1=pypi_0
pyparsing=3.2.1=pypi_0
pyro-api=0.1.2=pypi_0
pyro-ppl=1.9.1=pypi_0
pytest=8.3.4=pypi_0
python=3.12.8=h5148396_0
python-dateutil=2.9.0.post0=pypi_0
python-graphviz=0.20.3=pypi_0
pytz=2024.2=pypi_0
pyyaml=6.0.2=pypi_0
pyyaml-env-tag=0.1=pypi_0
readline=8.2=h5eee18b_0
regex=2024.11.6=pypi_0
requests=2.32.3=pypi_0
rfpimp=1.3.7=pypi_0
ruff=0.9.3=pypi_0
sas7bdat=2.2.3=pypi_0
scikit-learn=1.5.2=pypi_0
scipy=1.15.1=pypi_0
seaborn=0.12.2=pypi_0
setuptools=68.2.2=pypi_0
shap=0.46.0=pypi_0
shapiq=1.2.1=pypi_0
simpleitk=2.4.1=pypi_0
six=1.17.0=pypi_0
sklearn-compat=0.1.3=pypi_0
slicer=0.0.8=pypi_0
sqlite=3.45.3=h5eee18b_0
statsmodels=0.14.4=pypi_0
sympy=1.13.1=pypi_0
tabpfgen=0.1.2=pypi_0
tabpfn=2.0.6=pypi_0
tabpfn-community=0.0.4=pypi_0
tabpfniml=0.0.1=pypi_0
tabulate=0.9.0=pypi_0
tensorboard=2.19.0=pypi_0
tensorboard-data-server=0.7.2=pypi_0
threadpoolctl=3.5.0=pypi_0
tikzplotlib=0.9.8=pypi_0
tk=8.6.14=h39e8969_0
torch=2.5.0=pypi_0
torchvision=0.21.0=pypi_0
tqdm=4.67.1=pypi_0
triton=3.1.0=pypi_0
typing=3.7.4.3=pypi_0
typing-extensions=4.12.2=pypi_0
tzdata=2025.1=pypi_0
urllib3=2.3.0=pypi_0
verspec=0.1.0=pypi_0
virtualenv=20.29.1=pypi_0
wadler-lindig=0.1.3=pypi_0
watchdog=6.0.0=pypi_0
werkzeug=3.1.3=pypi_0
wheel=0.44.0=py312h06a4308_0
wrapt=1.17.2=pypi_0
xgboost=2.1.3=pypi_0
xmltodict=0.14.2=pypi_0
xz=5.4.6=h5eee18b_1
zipp=3.21.0=pypi_0
zlib=1.2.13=h5eee18b_1
